<launch>
	<arg name="marker_size" default="5.4" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/camera/color/image_raw" />
	<arg name="cam_info_topic" default="/corrected_camera_info" />
	<arg name="output_frame" default="/camera_link" />
	<arg name="corrected_calib" default="$(find calibration)/yaml/ost.yaml"/>

	<node name="corrected_calibration" pkg="calibration" type="corrected_calibration.py">
		<param name="filename"	type="string" value="$(arg corrected_calib)" />
	</node>

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node>

	<node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
		args="0.0180981 0.0886255 0.0140553   0.522154 0.523293 0.478812 -0.47356 tool0 camera_link" />

</launch>
